<div style="display:flex; width:100%; justify-content:space-between; margin-top:50px">
    <form action="" style="text-align: center;margin-top: 5px;padding-bottom: 20px;padding-right: 90px;"  >
        <input type="text" name="query" style="width: 600px; height:100px; font-size:30px; border:solid 2px;">
        <br>
        <input type="submit" style="height: 50px; margin-top: 5px; width: 150px;">
    </form>

    <div style="text-align: right; margin-top: 40px;">
        <a href="skip"
           style="background: antiquewhite; font-weight:bold; font-size:20px; padding: 30px 60px; border-radius: 12px; margin-top: 5px; text-decoration: none">
            SKIP AD
        </a>
    </div>


</div>